.flex.items-center.justify-between.w-1/8.py-2
  h3.text-2xl.font-bold.dark:text-white.px-6
    | Employees
  = turbo_frame_tag "new-employee-form" do
    = link_to "New employee", new_employee_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 mr-2 dark:bg-blue-600 dark:hover-bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
hr
.relative.overflow-x-auto.w-1/8.pt-6
  table.w-full.text-sm.text-left.text-gray-500.dark:text-gray-400
    thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      tr
        th.px-6.py-3[scope="col"]
          |  First Name 
        th.px-6.py-3[scope="col"]
          |  Last Name 
        th.px-6.py-3[scope="col"]
          |  Nick Name 
        th.px-6.py-3[scope="col"]
          |  Phone Number 
        th.px-6.py-3[scope="col"]
          |  Email 
        th.px-6.py-3[scope="col"]
          |  Details 
        th.px-6.py-3[scope="col"]
          |  Action 
    tbody
      = render @employees
