<div class="flex items-center justify-between w-[80%] py-2">
  <h3 class="text-2xl font-bold dark:text-white px-6">Employees</h3>
  <%= turbo_frame_tag "new-employee-form" do %>
    <%= link_to "New employee", new_employee_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 mr-2 dark:bg-blue-600 dark:hover-bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  <% end %>

</div>

<hr>
<div class="relative overflow-x-auto w-[85%] pt-6">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3"> First Name </th>
        <th scope="col" class="px-6 py-3"> Last Name </th>
        <th scope="col" class="px-6 py-3"> Nick Name </th>
        <th scope="col" class="px-6 py-3"> Phone Number </th>
        <th scope="col" class="px-6 py-3"> Email </th>
        <th scope="col" class="px-6 py-3"> Details </th>
        <th scope="col" class="px-6 py-3"> Action </th>
      </tr>
    </thead>
    <tbody>
       <%= render @employees %>
    
    </tbody>
  </table>
</div>

